/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
	overflow: hidden;
	position: relative;
	padding: 4rem 0;
	text-align: center;
}
@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.socialData {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
}
.data_mine {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.data_mine img {
	flex: 0 0 33%;
}
.blog_history {
	li {
		// list-style-image: url("/img/about/circle-color.svg");
		list-style-type: circle;
	}
	li::marker {
		font-size: 25px;
		color: blueviolet;
	}
	li:not(:last-child) {
		position: relative;
		&::after {
			position: absolute;
			left: -18px;
			bottom: -13px;
			border: 1px solid;
			height: 1rem;
			content: "";
		}
	}
}
.about_bottom{
	margin-bottom: 20px;
}