body{
    --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--black);
  --accent: #6F67FF;
}

.progress {
    position: fixed;
    top: 6rem;
    left:7.5%;
    width: 6rem;
    height: 6rem;
    margin: 0;
    padding: 0px;
    
  }
 .number{
    position: absolute;
    top: 55px;
    left: -45px;
    font-size: 1.5rem;
 }
 .desc{
    position: absolute;
    top: 150px;
    width: 7rem;
    left: -5rem;
    font-size: 1.5rem;
    text-align: center;
    // border: 1px solid;
    color:#fff;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #726BFF;
    
    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
       
        border: 8px solid #fff;
        border-bottom-color: #726BFF;
        left:4rem;
        bottom: 100%;
        margin-left: -15px;
    }
   
 }

 .num0{
    position: absolute;
    top: 55px;
    left: -2.2rem;
    font-size: 1.5rem;
 }
  
  .progress svg {
   
    transform: translateX(-100px) rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 5%;
    fill: none;
  }
  
  .bg {
    stroke:var(--accent);
    opacity: 0.2;
  }
  
  .progress .indicator {
    stroke:var(--accent);
  }

  @media only screen and (max-width: 996px) {
    .progress{
        display: none;
    }
  }
  