.container {
  width: 40rem;
  height: 120px;
  border: 1px solid #c5c4c4;
  border-radius: 10px 10px 0 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  a {
    text-decoration: none;
  }
  .header {
    display: flex;

    justify-content: space-between;
  }
  .note {
    width: 60px;
    height: 70px;
    border-radius: 3px;
    padding: 0px 7px;
    background-color: #52a7f5;
    text-align: center;

    .note_header {
      color: #fff;
      font-size: 14px;
      margin-top: -5px;
      margin-bottom: -7px;
    }
    .note_content {
      background-color: #fff;
      height: 25px;
      margin-bottom: 1px;
      padding: 2px 8px;
      .power {
        display: flex;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        .power_1 {
          width: 10px;
          height: 3.5px;
          background-color: #37a13b;
        }
        .power_2 {
          width: 15px;
          height: 3.5px;
          background-color: #6fdd73;
        }
        .power_3 {
          width: 20px;
          height: 3.5px;
          background-color: #ffa106;
        }
        .power_4 {
          width: 25px;
          height: 3.5px;
          background-color: #fb5a3e;
        }
      }
    }
    .aside_content {
      display: flex;
      background-color: #fff;
      font-size: 1px;

      padding: 3px 3px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      .typeDot {
        width: 2px;
        height: 2px;
        background-color: #000;
      }
    }
    .note_down {
      display: flex;
      background-color: #fff;
      font-size: 1px;
      padding: 3.5px 8px;
      justify-content: space-between;
      align-items: center;

      .typeDot {
        width: 2px;
        height: 2px;
        background-color: #000;
      }
    }
    .note_footer {
      display: flex;
      margin-top: 2px;
      justify-content: center;
      font-size: 1px;

      .typeDot {
        width: 2.5px;
        height: 2.5px;
        margin: 0px 1.5px;
        background-color: #fff;
      }
    }
  }
  .status {
    .weather {
    }
    .number {
      font-size: 25px;
      font-family: Digital-7 Mono;
    }
  }
  .control {
    display: flex;
    justify-content: center;
  }
}

.footer {
  width: 40rem;
  height: 30px;
  border: 1px solid #c5c4c4;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.windy {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.windy_1 {
  background-color: rgb(187, 187, 187);
  width: 3px;
  height: 60px;
  transform: rotate(30deg);
}
.windy_2 {
  background-color: rgb(187, 187, 187);
  width: 3px;
  height: 60px;
  margin: 0 5rem;
}
.windy_3 {
  background-color: rgb(187, 187, 187);
  width: 3px;
  height: 60px;
  transform: rotate(-30deg);
}
