.dragBox {
	display: inline-flex;
	position: sticky;
	right: 1rem;
	// bottom: 1rem;
	top: 1rem;
	z-index: 99999;
	cursor: move;
	text-align: left;
}
.siteInfo {
	--ifm-leading: 0;
	padding: 10px;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	border-radius: var(--ifm-pre-border-radius);
	width: 400px;
	text-align: left;
	font-size: 0.9rem;
}
.blog_list {
	display: grid;
	height: 100vh;
	min-height: 360px;
	background-color: var(--bg);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	font: 1em/1.5 "Varela Round", Helvetica, sans-serif;
	color: var(--fg);
	transition: background-color var(--trans-dur), color var(--trans-dur);
	place-items: center;
}
.blog_list_pl{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 15em;
	height: 15em;
	box-shadow: 2em 0 2em rgba(0, 0, 0, 0.2) inset, -2em 0 2em rgba(255, 255, 255, 0.1) inset;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transform: rotateX(30deg) rotateZ(45deg);
}
.blog_list_pl, .blog_list_pl_dot {
	border-radius: 50%;
}
.blog_list_pl_dot {
	left: calc(50% - 0.75em);
	top: calc(50% - 0.75em);
	width: 1.5em;
	height: 1.5em;
	box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.5);
	animation-name: shadow;
}
.blog_list_pl_dot, .blog_list_pl_dot::before, .blog_list_pl_dot::after {
	position: absolute;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.blog_list_pl_dot::before, .blog_list_pl_dot::after {
	display: block;
	left: 0;
	width: inherit;
	content: "";
	transition: background-color 0.3s;
}
.blog_list_pl_dot::before {
	z-index: 1;
	border-radius: inherit;
	height: inherit;
	background-color: #454954;
	box-shadow: 0.05em 0 0.1em rgba(255, 255, 255, 0.2) inset;
	animation-name: pushInOut1;
}
.blog_list_pl_dot::after {
	bottom: 0;
	border-radius: 0.75em;
	height: 3em;
	background-color: #255ff4;
	box-shadow: 0.1em 0.3em 0.2em rgba(255, 255, 255, 0.4) inset, 0 -0.4em 0.2em #2e3138 inset, 0 -1em 0.25em rgba(0, 0, 0, 0.3) inset;
	clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
	transform: rotate(-45deg);
	transform-origin: 50% 2.25em;
	animation-name: pushInOut2;
}
.blog_list_pl_dot:nth-child(1) {
	z-index: 5;
	transform: rotate(0deg) translateX(5em) rotate(0deg);
}
.blog_list_pl_dot:nth-child(1), .blog_list_pl_dot:nth-child(1)::before, .blog_list_pl_dot:nth-child(1)::after {
	animation-delay: 0s;
}
.blog_list_pl_dot:nth-child(2) {
	z-index: 4;
	transform: rotate(-30deg) translateX(5em) rotate(30deg);
}
.blog_list_pl_dot:nth-child(2), .blog_list_pl_dot:nth-child(2)::before, .blog_list_pl_dot:nth-child(2)::after {
	animation-delay: -0.1666666667s;
}
.blog_list_pl_dot:nth-child(3) {
	z-index: 3;
	transform: rotate(-60deg) translateX(5em) rotate(60deg);
}
.blog_list_pl_dot:nth-child(3), .blog_list_pl_dot:nth-child(3)::before, .blog_list_pl_dot:nth-child(3)::after {
	animation-delay: -0.3333333333s;
}
.blog_list_pl_dot:nth-child(4) {
	z-index: 2;
	transform: rotate(-90deg) translateX(5em) rotate(90deg);
}
.blog_list_pl_dot:nth-child(4), .blog_list_pl_dot:nth-child(4)::before, .blog_list_pl_dot:nth-child(4)::after {
	animation-delay: -0.5s;
}
.blog_list_pl_dot:nth-child(5) {
	z-index: 1;
	transform: rotate(-120deg) translateX(5em) rotate(120deg);
}
.blog_list_pl_dot:nth-child(5), .blog_list_pl_dot:nth-child(5)::before, .blog_list_pl_dot:nth-child(5)::after {
	animation-delay: -0.6666666667s;
}
.blog_list_pl_dot:nth-child(6) {
	z-index: 1;
	transform: rotate(-150deg) translateX(5em) rotate(150deg);
}
.blog_list_pl_dot:nth-child(6), .blog_list_pl_dot:nth-child(6)::before, .blog_list_pl_dot:nth-child(6)::after {
	animation-delay: -0.8333333333s;
}
.blog_list_pl_dot:nth-child(7) {
	z-index: 2;
	transform: rotate(-180deg) translateX(5em) rotate(180deg);
}
.blog_list_pl_dot:nth-child(7), .blog_list_pl_dot:nth-child(7)::before, .blog_list_pl_dot:nth-child(7)::after {
	animation-delay: -1s;
}
.blog_list_pl_dot:nth-child(8) {
	z-index: 3;
	transform: rotate(-210deg) translateX(5em) rotate(210deg);
}
.blog_list_pl_dot:nth-child(8), .blog_list_pl_dot:nth-child(8)::before, .blog_list_pl_dot:nth-child(8)::after {
	animation-delay: -1.1666666667s;
}
.blog_list_pl_dot:nth-child(9) {
	z-index: 4;
	transform: rotate(-240deg) translateX(5em) rotate(240deg);
}
.blog_list_pl_dot:nth-child(9), .blog_list_pl_dot:nth-child(9)::before, .blog_list_pl_dot:nth-child(9)::after {
	animation-delay: -1.3333333333s;
}
.blog_list_pl_dot:nth-child(10) {
	z-index: 5;
	transform: rotate(-270deg) translateX(5em) rotate(270deg);
}
.blog_list_pl_dot:nth-child(10), .blog_list_pl_dot:nth-child(10)::before, .blog_list_pl_dot:nth-child(10)::after {
	animation-delay: -1.5s;
}
.blog_list_pl_dot:nth-child(11) {
	z-index: 6;
	transform: rotate(-300deg) translateX(5em) rotate(300deg);
}
.blog_list_pl_dot:nth-child(11), .blog_list_pl_dot:nth-child(11)::before, .blog_list_pl_dot:nth-child(11)::after {
	animation-delay: -1.6666666667s;
}
.blog_list_pl_dot:nth-child(12) {
	z-index: 6;
	transform: rotate(-330deg) translateX(5em) rotate(330deg);
}
.blog_list_pl_dot:nth-child(12), .blog_list_pl_dot:nth-child(12)::before, .blog_list_pl_dot:nth-child(12)::after {
	animation-delay: -1.8333333333s;
}
.blog_list_pl_text {
	position: relative;
	max-width: 5rem;
	text-shadow: 0 0 0.1em rgba(227, 228, 232, 0.5);
	font-size: 0.75em;
	transform: rotateZ(-45deg);
}
/* Animations */
@keyframes shadow {
	0% {
		box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.3);
		animation-timing-function: ease-in;
	}
	25% {
		box-shadow: 0.1em 0.1em 0 0.1em black, 0.8em 0 0.8em rgba(0, 0, 0, 0.5);
		animation-timing-function: ease-out;
	}
	50%, 100% {
		box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.3);
	}
}
@keyframes pushInOut1 {
	0% {
		background-color: #454954;
		transform: translate(0, 0);
		animation-timing-function: ease-in;
	}
	25% {
		background-color: #5583f6;
		transform: translate(-71%, -71%);
		animation-timing-function: ease-out;
	}
	50%, 100% {
		background-color: #454954;
		transform: translate(0, 0);
	}
}
@keyframes pushInOut2 {
	0% {
		background-color: #454954;
		clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
		animation-timing-function: ease-in;
	}
	25% {
		background-color: #255ff4;
		clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
		animation-timing-function: ease-out;
	}
	50%, 100% {
		background-color: #454954;
		clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
	}
}
