@import url("//fonts.googleapis.com/css?family=Lato:300:400");
/* hero */
.hero {
	display: grid;
	overflow-x: hidden;
	// align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: calc(100vh - 60px);
	/* background: url("/img/hero_main.svg") no-repeat right; */
	/* background-size: 60vw; */
	letter-spacing: 0.04em;
	grid-template-columns: 8fr 11fr;
}
.bloghome__intro {
	display: flex;
	position: relative;
	z-index: 10;
	// flex-direction: column;
	align-items: start;
	padding: 1em;
	padding-left: 4rem;
	padding-top:4rem;
	.intro_desc{
		width: 24rem;
		color:#6c63ff
	}
	.bloginfo__img_avator {
		padding: 4px;
		// max-width: 100%;
		border-radius: 50%;
		width: 15rem;
		height: 15rem;
		background-color: #fff;
		box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
		transition: 0.4s;
		&:hover {
			box-shadow: 0 0 30px rgb(0 120 231 / 0.2);
		}
	}
	// justify-content: center;
	.bloghome__intro_div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
  
}
.word_item{
	font-size: 1.5rem;
	color:#6c63ff
}
.desc_list {
	overflow: hidden;
	width: 200px;
	white-space: nowrap;
}
.introCard {
	position: relative;
	width: 65%;
	max-height: 100vh;
	cursor: pointer;
	pointer-events: none;
	transition: 0.5s all ease-in-out;
}
.card {
	display: flex;
	position: absolute;
	right: -185px;
	top: 100px;
	flex-direction: column;
	padding: 15px 13px;
	border-radius: 10px;
	width: 90%;
	min-width: 610px;
	max-width: 610px;
	height: 460px;
	background: #f6f8fa;
	box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
	opacity: 0;
}
.cards {
	opacity: 0;
}
.front {
	display: flex;
	// @extend .introCard;
	position: absolute;
	right: -185px;
	top: 100px;
	z-index: 10;
	flex-direction: column;
	padding: 15px 13px;
	border-radius: 10px;
	width: 90%;
	min-width: 610px;
	max-width: 610px;
	height: 460px;
	background: #f6f8fa;
	box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
	// transform: rotateZ(-6deg);
	opacity: 1;
	pointer-events: auto;
	transform: rotateZ(0);
	transform-origin: bottom right;
	transition: 0.5s all ease-in-out;
}
.followed {
	display: flex;
	// @extend .introCard;
	position: absolute;
	right: -185px;
	top: 100px;
	z-index: 8;
	flex-direction: column;
	padding: 15px 13px;
	border-radius: 10px;
	width: 90%;
	min-width: 610px;
	max-width: 610px;
	height: 460px;
	background: #f6f8fa;
	box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
	box-shadow: none;
	opacity: 0.5;
	transform: rotateZ(6deg);
	transform-origin: bottom right;
	transition: 0.5s all ease-in-out;
}
.fall {
	display: flex;
	// @extend .introCard;
	position: absolute;
	right: -185px;
	top: 100px;
	flex-direction: column;
	padding: 15px 13px;
	border-radius: 10px;
	width: 90%;
	min-width: 610px;
	max-width: 610px;
	height: 460px;
	background: #f6f8fa;
	box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
	box-shadow: none;
	transform-origin: bottom right;
	transition: 0.5s all ease-in-out;
	// z-index: 12;
	animation: falldown 1s ease-in-out;
}
@keyframes falldown {
	0% {
		opacity: 1;
		transform: rotateZ(0);
	}
	70% {
		opacity: 0.5;
	}
	90% {
		opacity: 0;
		transform: rotateZ(-90deg) scale(0.9);
	}
	100% {
		opacity: 0;
		transform: rotateZ(-90deg) scale(0);
	}
}
.circles {
	display: flex;
	/* padding: 15px 0 15px 13px; */
}
.navCircle {
	margin: 0 4px;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background: #fefefe;
}
.red {
	background: #ed4040;
}
.yellow {
	background: #ecb62c;
}
.green {
	background: #26e05a;
}
.procode {
	margin-top: 20px;
	background-color: #f6f8fa;
	line-height: 25px;
	/* font-size: 1.5em; */
	font-size: 19.5px;
	color: #fefefe;
}
.procode pre {
	margin-bottom: 3px;
	// background-color: #2a2a32;
	padding: 0;
	background-color: #f6f8fa;
}
html[data-theme="dark"] .introCard {
	transition: none;
	// background-color: #2a2a32;
}
html[data-theme="dark"] .front {
	background-color: #1e1e1e;
	// transition: none;
	box-shadow: 0 10px 60px 5px #000, 0 0 10px 0 #000;
}
html[data-theme="dark"] .fall {
	background-color: #1e1e1e;
	// transition: none;
	box-shadow: 0 10px 60px 5px #000, 0 0 10px 0 #000;
}
html[data-theme="dark"] .followed {
	background-color: #1e1e1e;
	// transition: none;
	box-shadow: 0 10px 60px 5px #000, 0 0 10px 0 #000;
}
html[data-theme="dark"] .procode  {
	// transition: none;
	background-color: #1e1e1e;
}
html[data-theme="dark"] .procode pre {
	// transition: none;
	background-color: #1e1e1e;
}
html[data-theme="dark"] .cm_keyword {
	color: #9878c6;
}
html[data-theme="dark"] .cm_def {
	color: #f8f8f2;
}
html[data-theme="dark"] .cm_operator {
	color: #f8f8f2;
}
html[data-theme="dark"] .cm_string {
	color: #d668a7;
}
html[data-theme="dark"] .cm_property {
	color: #f8f8f2;
}
html[data-theme="dark"] .cm_dou {
	color: #f8f8f2;
}
html[data-theme="dark"] .cm_mao {
	color: #f8f8f2;
}
.cm_mao {
	margin-right: 10px;
	color: #393a34;
}
.cm_dou {
	color: #393a34;
}
.cm_keyword {
	color: #00009f;
}
.cm_def {
	color: #393a34;
}
.cm_operator {
	color: #393a34;
}
.cm_string {
	color: #e3116c;
}
.cm_property {
	color: #36acaa;
}
.CodeMirror_line {
	overflow: visible;
	margin: 0;
	word-break: normal;
	white-space: pre-wrap;
}
.bloghome__intro .hero_text {
	/* font-weight: 600; */
	display: flex;
	justify-content: center;
	font-size: calc(1.8em + 1.2vw);
 
}
.bloghome__intro > p {
	margin: 26px 0 24px;
	line-height: 32px;
	text-align: justify;
	/* text-shadow: 0 0 #8c99ab; */
	font-size: 1.125rem;
	color: hsl(215deg 19% 48%);
	letter-spacing: -0.04em;
}
.bloghome__intro > p:nth-child(3) {
	align-self: start;
	margin-top: 0;
}
html[data-theme="dark"] .bloghome__intro > p {
	color: #dfdfdf;
}
.intro__name {
	color: var(--ifm-color-primary);
}
.bloghome__image {
	position: relative;
	z-index: 5;
	align-items: center;
	// overflow: hidden;
	width: 100%;
	justify-items: center;
	// padding: 1em;
	// padding-left: 4em;
	// position: relative;
}
.bloghome__image svg {
	width: 100%;
	height: auto;
}
:global(.hero_main_svg__js) g,
:global(.hero_main_svg__todo) path:nth-child(1),
:global(.hero_main_svg__magnifier) path:nth-child(1) {
	fill: #2a2b3b;
}
[data-theme="dark"] :global(.hero_main_svg__js) g,
[data-theme="dark"] :global(.hero_main_svg__todo) path:nth-child(1),
[data-theme="dark"] :global(.hero_main_svg__magnifier) path:nth-child(1) {
	fill: #abaff1;
}
.bloghome__scroll-down {
	display: flex;
	position: absolute;
	bottom: 8em;
	justify-content: center;
	align-items: center;
	align-self: end;
	padding: 2px;
	border-radius: 6px;
	background: linear-gradient(25deg, #1081ff, #72e1f6, #b185ff);
	cursor: pointer;
	justify-self: center;
	grid-column: span 2;
}
.bloghome__scroll-down button {
	border: none;
	border-radius: 4px;
	width: 150px;
	height: 48px;
	background: white;
	cursor: pointer;
}
.bloghome__scroll-down button svg {
	stroke: #7f7f7f;
}
.social__links {
	display: flex;
	position: relative;
	z-index: 100;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
	width: 100%;
	max-width: 300px;
}
.social__links a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 1;
	transition: all 0.3s ease-in-out;
	transition-property: all;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
.social__links a:hover {
	background-color: rgb(0 120 231 / 0.1);
	transform: translateY(-5px);
}
.social__links > *,
.social__links svg,
.social__links svg path {
	width: 24px;
	height: 24px;
	color: var(--ifm-color-primary);
	fill: var(--ifm-color-primary);
}
.social__links .dropdown {
	display: flex;
	align-items: center;
}
.social__links .dropdown span {
	margin-left: 6px;
	/* font-weight: 700; */
	font-size: 0.9em;
}
.social__links .dropdown__menu {
	right: 0;
	top: 120%;
	max-width: initial;
}



// .intro {
 
// display: inline-block;
// color: white;
// padding: 0.75em 20px;
// margin-top: 1rem;
// margin-left: -2px;
// margin-bottom: 1rem;
// font-weight: 600;
// background: linear-gradient(
//   90deg,
//   var(--ifm-color-primary) 11.3%,
//   var(--ifm-color-primary-light) 161.54%
// );
// box-shadow: rgb(0 105 165 / 35%) 0 0 32px;
// border-radius: 7px;
// font-family: "Yuanti SC", Youyuan, "You Yuan", "幼圆", "PingFang SC",
//   "Microsoft Yahei", Helvetica, sans-serif;

// &:hover {
//   text-decoration: none;
//   color: white;
// }
.intro {
	position: relative;
	padding: 10px 20px;
	border: 0 #6F67FF;
	border-radius: 10px;
	//   background: linear-gradient(
	//   90deg,
	//   var(--ifm-color-primary) 11.3%,
	//   var(--ifm-color-primary-light) 161.54%
	// );
	background:#fff;
	box-shadow: inset 0 0 0 2px #6F67FF;
	cursor: pointer;
	color: #6F67FF;
	&::before,
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: inherit;
		border: 5px solid transparent;
		border-radius: 10px;
		width: 100%;
		height: 100%;
		content: "";
		transform-origin: center;
		transition: all 1s ease-in;
	}
	&::before {
		border-top-color: #FFF;
		border-bottom-color: #FFF;
		transform: scale3d(0, 1, 1);
  
	}
	&::after {
		border-left-color: #FFF;
		border-right-color: #FFF;
		transform: scale3d(1, 0, 1);

	}
	&:hover {
		text-decoration: none;
		color: #6F67FF;
		&::before,
		&::after {
			transform: scale3d(1, 1, 1);
			transition: all 1s ease;
		}
	}
	// }
  

	// &::before {
	//   background: var(--ifm-color-primary);
	//   opacity: 0;
	//   content: "";
	//   display: block;
	//   height: 105%;
	//   width: 0;
	//   left: 0;
	//   position: absolute;
	//   top: 50%;
	//   transform: translateY(-50%);
	//   transition: all 0.5s ease-in-out;
	// }

	// &:hover::before {
	//   background: var(--ifm-color-primary-light);
	//   width: 100%;
	//   opacity: 0.5;
	// }
	> svg {
		margin-left: 0.25rem;
		transition: all 0.3s ease-in-out;
	}
	&:hover svg {
		transform: translateX(0.5rem);
	}
}
.footer {
	position: relative;
	background: linear-gradient(
		60deg,
		rgba(84, 58, 183, 1) 0%,
		rgba(0, 172, 193, 1) 100%
	);
	text-align: center;
	/* background: linear-gradient(0deg, rgb(112, 96, 177) 0%, rgb(184, 221, 236) 100%); */
	/* background: #fff; */
	color: white;
}
.innerheader {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
}
.waves {
	position: relative;
	margin-bottom: -8.2px; /* Fix for safari gap */
	width: 100%;
	height: 15vh;
	min-height: 150px;
	max-height: 150px;
}
/* Animation */
.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-duration: 7s;
	animation-delay: -2s;
	/* fill: rgba(49 56 69 / 0.7); */
	fill: rgba(245 246 247 / 0.7);
}
.parallax > use:nth-child(2) {
	animation-duration: 10s;
	animation-delay: -3s;
	fill: rgba(245 246 247 / 0.5);
}
.parallax > use:nth-child(3) {
	animation-duration: 13s;
	animation-delay: -4s;
	fill: rgba(245 246 247 / 0.3);
}
.parallax > use:nth-child(4) {
	animation-duration: 20s;
	animation-delay: -5s;
	/* fill: #303846; */
	fill: #f8f9fa;
}
html[data-theme="dark"] .parallax > use:nth-child(1) {
	animation-duration: 7s;
	animation-delay: -2s;
	fill: rgba(49 56 69 / 0.7);
}
html[data-theme="dark"] .parallax > use:nth-child(2) {
	animation-duration: 10s;
	animation-delay: -3s;
	fill: rgba(49 56 69 / 0.5);
}
html[data-theme="dark"] .parallax > use:nth-child(3) {
	animation-duration: 13s;
	animation-delay: -4s;
	fill: rgba(49 56 69 / 0.3);
}
html[data-theme="dark"] .parallax > use:nth-child(4) {
	animation-duration: 20s;
	animation-delay: -5s;
	fill: #1b1b1d;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
@media (max-width: 1000px) {
	.hero {
		align-items: start;
		padding-bottom: 2rem;
		height: auto;
		/* background-position: center bottom;
        background-size: 70vh; */
		min-height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: max-content minmax(0, max-content);
	}
	.introCard {
		display: none;
	}
	.animated {
		// display: flex;
		flex-direction: column;
		align-items: center;
	}
	.bloghome__intro {
		display: flex;
		padding: 2rem var(--ifm-spacing-horizontal);
		padding-top: 3em;
		.intro_desc{
			width: 100%;
			max-width: 24rem;
		}
		.bloginfo__img_avator {
			width: 12rem;
			height: 12rem;
		}
		.bloghome__intro_div{
			// display: flex;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		// flex-direction: column;
		// align-items: center;
		.hero_text {
			text-align: center;
			font-size: calc(1.5em + 1vw) !important;
		}
	}
	.front, .followed, .fall {
		width: 5em;
	}
	.bloghome__image {
		display: grid;
		padding-top: 3em;
		width: 100%;
		height: 100%;
		justify-self: center;
		place-items: center;
	}
	.bloghome__image svg {
		width: 90%;
		height: auto;
	}
}
@media (max-width: 570px) {
	.hero {
		padding-bottom: 1rem;
		height: auto;
		min-height: auto;
	}
	.introCard {
		display: none;
	}
	.bloghome__image {
		padding-top: 1.5em;
	}
	.bloghome__image svg {
		padding: 0 12px;
		width: 100%;
		height: auto;
	}
	.front, .followed, .fall {
		width: 3em;
	}
	.bloghome__intro {
		padding: 1rem var(--ifm-spacing-horizontal);
		padding-top: 2em;
		.intro_desc{
			width: 100%;
			font-size: 0.9rem;
		}
		.bloginfo__img_avator {
			width: 10rem;
			height: 10rem;
		}
		.hero_text {
			font-size: 1.4em !important;
		}
		> p {
			margin: 16px 0;
			line-height: 1.6;
			font-size: 1rem;
		}
	}
}
.word_item {
	font-size: 1.2rem;
}
:global(.hero_main_svg__js_rotate) {
	transform-origin: center center;
	animation: rotating 4s ease-in-out infinite;
	transform-box: fill-box;
}
@keyframes rotating {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
