.mdxPageWrapper {
	justify-content: center;
	background: url('https://laymonage.com/bg.svg')  no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
 
}
.mdxContainer{
	margin-bottom: 20px;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 0 10px 10px 5px #a1a1a1;
}

