.container {
  font-size: 0.9rem;
  color:#5e5e5e;
  svg{
    margin: 0px 5px;
    font-size: 1rem;
  }
}
.week {
  margin: 0px 5px;
}

.weather {
  display: flex;
  align-items: center;
  margin: 0px 5px;
}
