.info {
  display: flex;
  font-size: 0.9rem;
  color: #898989;
  align-items: center;
  margin-bottom: 1rem;
  svg {
    margin: 0px 5px;
    font-size: 1rem;
  }
}

.info_date {
  display: flex;
  align-items: center;
  line-height: normal;
}

.container {
  hr {
    background-color: #fff;
  }
}

html[data-theme="dark"] .info {
  color: #c5c5c5;
}

.week {
  margin: 0px 5px;
}

.weather {
  display: flex;
  align-items: center;
  margin: 0px 5px 0 0;
}
