/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialData{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


.data_mine{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
 
}

.data_mine img{
  flex: 0 0 33%;
}

