body {
	--color-primary: #6c63ff;
}
.container {
	margin: 0 auto;
	padding: 0.5rem 1rem;
	max-width: 2400px;
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	ul {
		padding: 0;
	}
}
.friend_card {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	.friend_card_li {
		display: flex;
		overflow: hidden;
		flex-direction: row;
		align-items: center;
		padding: 0 1rem;
		border-radius: 20px;
		height: 6rem;
		cursor: pointer;
		transition: all 0.5s linear;
		&:hover {
			background-color: #c0bfbf17;
			box-shadow: 0 3px 10px 0 rgba(164, 190, 217, 0.5);
		}
		.card_avatar {
			overflow: hidden;
			border-radius: 50%;
			width: 68px;
			height: 68px;
			img {
				width: 100%;
			}
		}
		.card_info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// padding:0.5rem;
			padding-left: 2rem;
			width: 75%;
			.card_info_title {
				color: var(--color-primary);
			}
			.card_info_desc {
				display: -webkit-box;
				overflow: hidden;
				margin: 0;
				width: 100%;
				line-height: 1.66;
				-webkit-line-clamp: 2;
				font-size: 14px;
				-webkit-box-orient: vertical;
			}
		}
	}
}
html[data-theme="dark"] .friend_card_li {
	&:hover {
		background-color: #dcdbdb;
		box-shadow: 0 3px 10px 5px #6f67ff;
	}
}
