body{
  --black: #000000;
--ash-black: #222;
--white: #fafafa;
--sky: #00ccff;
--green: #22dddd;
--blue: #1300ff;
--dusk: #6600ff;
--purple: #9900ff;
--pink: #ff0066;
--red: #fe0222;
--orange: #fd7702;
--yellow: #ffbb00;

--background: var(--black);
--accent: #6F67FF;
}

.progress {
  position: fixed;
  top: 10rem;
  right: 0px;
  width: 6rem;
  height: 6rem;
  margin: 0;
  padding: 0;
}


.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke:var(--accent);
  opacity: 0.2;
}

.progress .indicator {
  stroke:var(--accent);
}