.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .radio_flex {
    display: flex;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 30px;

    .radio_card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;

      cursor: pointer;
      &:nth-child(1) {
        border-right: 1px solid #e5e5e5;
      }
      &:nth-child(2) {
        border-right: 1px solid #e5e5e5;
      }
    }
  }
  .radio_img {
    width: 20rem;
  }
}
